h1 {
  position: absolute;
  left: 20cm;
}

#description {
  position: absolute;
  top: 5cm;
  left: 19cm;
  width: 12cm;
  font-size: 20;
}

#document_table {
  position: absolute;
  top: 5cm;
  left: 19cm;
  height: 9.725cm;
  overflow-y: scroll;
}

button {
  border-radius: 10px;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: #583302;
}

tr:hover button {
  background-color: #ffc67d;
}


td {
  padding: 10px;
}

tr:hover {
  background-color: cyan;
}
